.headerShop {
    padding: 10px;
    text-align: center;
}
.headerShop a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
}
.headerShop a svg {
    width: 18px;
    margin-right: 5px;
}
