
.liR {
    color: white;
    background: darkgoldenrod;
    padding: 0.7em;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    border-radius: 30px;
    margin-top: 2em;
    box-shadow: 2px 2px 2px 2px #333333;
}

.liR a {
    text-decoration: none;
}

.ul_r button{
    background: none;
    padding: 10px;
    border: none;

}

.ul_r a{
    color: white;
    text-decoration: none;
}

.ul_r button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    outline: none;
}

.displayList {
    flex: 1;
}

.displayList h2 {
    text-align: center;
}

.displayList .articleTitle:after {
    left: 42%;
    width: 180px;
}