.header_show {
    padding-top: 5em;
    padding-bottom: 20em;
    color: white;
}

.boxR {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
}

.hR{
    font-size: 3em;
    color: white;
    letter-spacing: 10px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    text-shadow: 5px 3px 5px black;
}
.boxR{

    background-image: url("https://media-cdn.tripadvisor.com/media/photo-m/1280/1b/84/93/4d/entrada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
}


.tittle h3 {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.h3R {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}
.boxR p{
    display: flex;
    text-align: left;
    position: relative;
    color:white;
    margin-left: 100px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
    margin-right: 100px;
}
.boxR input {
    outline: none;
    font-size: 0.9em;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 0.5em;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.descriptionR{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color:white;
    margin-left: 100px;
    margin-right: 100px;
}

.subR input {
    width: 25%;
    outline: none;
    font-size: 0.9em;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 1em;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

input.pass {
    margin-top: 0.7em;
}

.submit {
/*
    cambiar para que no choque
    Por ejemplo: submitRestaurant
    margin-top: 2em;
    width: 20%;*/
}

.subR button {
    color: white;
    background: #DAA520;
    border: none;
    padding: 0.7em;
    outline: none;
    width: 69%;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.5s all;
    border-radius: 30px;
}

.boxR button {
    color: white;
    background: #DAA520;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: 400;
    transition: 0.5s all;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px #333333;
}

.subR button:hover {
    color: black;
    transition:0.5s all;
}

#alertRest{
    margin: 10px;
    border-radius: 20px;
    text-shadow: none;
}

#arrowR {
    align-self: flex-start;
    color: white;
    padding: 2vh;
    cursor: pointer;
    font-size: 2vh;
}