

.main_ShowT img{
    height: 300px;
}

.boxT {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    font-family: 'Dosis', sans-serif;
    text-shadow: 5px 3px 5px black;
}





.boxT button {
    color: white;
    background: #DAA520;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: 400;
    transition: 0.5s all;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px #333333;
}

.boxT button:hover {
    color: black;
    transition:0.5s all;
}




.boxT img{
    border: solid white;
    border-radius: 10px;
}

#alertT{
    margin: 10px;
    border-radius: 20px;
    text-shadow: none;
}



