

.mainTransport .firstView div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: calc(100vh - 5.1vh);
}

.mainTransport .firstView span {
    padding: 25px;
    font-size: 3em;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    border-radius: 30px;
    text-shadow: 5px 3px 4px black;
}

.mainTransport .firstView{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.mainTransport .firstView {
    height: calc(100vh - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.mainTransport .firstArticle {
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.mainTransport .container {
    max-width: 1100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.mainTransport .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mainTransport .displayFlex {
    flex: 0 0 50%;
    max-width: 50%;
}

.mainTransport .flexImage img{
    padding: 70px 30px 0px 0px;
    height: 300px;
    width: 488px;

}

.mainTransport .main-content .slide-images {
    padding-top: 70px;
}


.mainTransport .articleTitle {
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.mainTransport .articleTitle:after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: currentColor;
    position: absolute;
    top: 100%;
    left: 0;
}

.mainTransport .displayFlex p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    padding-right: 30px;
}

.mainTransport .menu button {
    color: white;
    background: darkgoldenrod;
    border: none;
    padding: 0.8em;
    outline: none;
    width: 25%;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.5s all;
    border-radius: 30px;
}

.mainTransport .menu button:hover {
    color: black;
    transition:0.5s all;
}

.mainTransport .displayList {
    flex: 1;
}

.mainTransport .displayList h2 {
    text-align: center;
}

.mainTransport .displayList .articleTitle:after {
    left: 42%;
    width: 180px;
}