

.header {
    padding-top: 5em;
    padding-bottom: 8em;
}

.header h1 {
    font-size: 3em;
    color: white;
    letter-spacing: 10px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    text-shadow: 5px 3px 5px black;
}

.main{
    background-image: url("../assets/images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
}

.main:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.tittle h2 {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sub input {
    width: 25%;
    outline: none;
    font-size: 0.9em;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 0.3em;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

input.pass {
    margin-top: 0.7em;
}

.submit {
    margin-top: 2em;
    width: 20%;
}

.sub button {
    color: white;
    background: #DAA520;
    border: none;
    padding: 0.7em;
    outline: none;
    width: 44%;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.5s all;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px #333333;
}

.sub button:hover {
    color: black;
    transition:0.5s all;
}

#alert{
    margin-top: 5em;
    border-radius: 20px;
}

#arrow {
    align-self: flex-start;
    color: white;
    padding: 20px;
    cursor: pointer;
}