
.mainNav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.1vh;
    background-color: #333;
    z-index:100;
}

.mainNav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.mainNav > ul > li {
    float: left;
    height: 100%;
}
#userNav {
    color: white;
    position:absolute;
    float: end;
    top: 0;
    right: 0;
    padding: 0vh 1.63vh 0vh 1.53vh;
}

#userNav .MuiSvgIcon-root {
    font-size: 5vh !important;
}


.mainNav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    font-size: 2vh;
    padding: 1.427vh 1.63vh;
    text-decoration: none;
    height: 100%;
}

.mainNav > ul> li > a:hover:not(.active) {
    background-color: #111;
}

.mainNav .active {
    background-color: #DAA520;
}
