
.indicators {
    background-color: white;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 90vh;
}

.each-slide span {
    padding: 25px;
    font-size: 3em;
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    border-radius: 30px;
    text-shadow: 5px 3px 4px black;
}